
:root{
  --buff: #db995aff;
  --amaranth-purple: #a4243bff;
  --verdigris: #64b6acff;
  --sapphire: #4059adff;
  --yale-blue: #083d77ff;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--sapphire) !important;
  }
  
  .bg-secondary {
    --bs-bg-opacity: 1;
    background-color: var(--yale-blue) !important;
  }
  
  .bg-success {
    --bs-bg-opacity: 1;
    background-color: var(--verdigris) !important;
  }
  
  .bg-info {
    --bs-bg-opacity: 1;
    background-color: var(--saffron) !important;
  }
  
  .bg-warning {
    --bs-bg-opacity: 1;
    background-color: var(--buff)!important;
  }
  
  .bg-danger {
    --bs-bg-opacity: 1;
    background-color: var(--amaranth-purple) !important;
  }
   .btn-primary {
    background-color: var(--sapphire) !important;
  }
  .btn-secondary {
    background-color: var(--yale-blue) !important;
  }
  .btn-warning {
    background-color: var(--buff) !important;
  }
  .btn-danger ,.btn-danger:focus ,.btn-danger:hover {
    background-color: var(--amaranth-purple) !important;
  }
  .btn-success {
    background-color: var(--verdigris) !important;
  }
