:root{
    --bittersweet: #FF6F61;
    --plum: #DDA0DD;
    --caribbean-current: #006994;
    --saffron: #fac748ff;
    --emerald: #06d6a0ff;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--bittersweet) !important;
  }
  
  .bg-secondary {
    --bs-bg-opacity: 1;
    background-color: var(--caribbean-current) !important;
  }
  
  .bg-success {
    --bs-bg-opacity: 1;
    background-color: var(--emerald) !important;
  }
  
  .bg-info {
    --bs-bg-opacity: 1;
    background-color: var(--saffron) !important;
  }
  
  .bg-warning {
    --bs-bg-opacity: 1;
    background-color: var(--saffron)!important;
  }
  
  .bg-danger {
    --bs-bg-opacity: 1;
    background-color: var(--plum) !important;
  }
   .btn-primary {
    background-color: var(--bittersweet) !important;
  }
  .btn-secondary {
    background-color: var(--caribbean-current) !important;
  }
  .btn-warning {
    background-color: var(--caribbean-current) !important;
  }
  .btn-danger {
    background-color: var(--plum) !important;
  }